body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header / Barra de cima */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    flex-wrap: wrap;
}

.logo-container img {
    width: 150px;
    margin-right: 20px;
}

.logo-container2 img {
    width: 60px;
    margin-right: 20px;
}

.navbar {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: #333399;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 25px;
}

.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.gif-container .gif {
    width: 100%;
    max-height: 520px;
    object-fit: cover;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.hero-content h1 {
    font-size: 4vw;
    font-weight: bold;
    color: #333399;
    text-align: center;
}

.hero-content p {
    font-size: 2vw;
    color: #333;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 1.8;
    word-wrap: break-word;
}

.description-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.description-content p {
    background: #E6E6FA;
    font-size: 20px;
    color: #333;
    padding: 15px;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    background: #E6E6FA;
    margin: 10px;
    border-radius: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.circle::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-radius: 50%;
}

img {
    width: 50px;
    height: auto;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #666;
}

.product-section {
    background: #E6E6FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.product-section h1 {
    font-size: 5vw;
    font-weight: bold;
    color: #333399;
    text-align: center;
    margin-bottom: 20px;
}

.product-content p {
    color: black;
    font-size: 2.5vw;
    max-width: 90%;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    flex-wrap: wrap;
}

.footer img {
    height: 50px;
    margin-right: 10px;
}

.footer-text {
    font-size: 16px;
    text-align: center;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 6vw;
    }

    .hero-content p {
        font-size: 3vw;
    }

    .product-section h1 {
        font-size: 6vw;
    }

    .product-content p {
        font-size: 3vw;
    }

    .navbar {
        gap: 15px;
    }

    .navbar a {
        font-size: 3vw;
    }

    .footer-text {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 7vw;
    }

    .hero-content p {
        font-size: 4vw;
    }

    .product-section h1 {-
        font-size: 6vw;
    }

    .product-content p {
        font-size: 4vw;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .navbar a {
        font-size: 5vw;
    }

    .footer-text {
        font-size: 5vw;
    }
}
